main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    background-image: url('../img/img-herosection\ 1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text h1 {
    width: 687px;
    font-size: 2.7rem;
    margin-top: 170px;
    margin-left: 30px;
    color: #ffffff;
}

.text p {
    color: #ffffff;
    font-weight: 500;
    width: 533px;
    margin-left: 90px;
    margin-top: 10px;
    font-size: 1.3rem;
}

.text button {
    background-color: #FF0000;
    border: solid 2px #ffffff;
    border-radius: 30px;
    margin-top: 30px;
    margin-left: 160px;
    font-size: 1.4rem;
    color: #ffffff;
    width: 337px;
    height: 72px;
    box-shadow: 0 0 40px 5px #ffffff;
    transition: 0.3s;
}

.text button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px) {

    main {
        height: 70vh;
    }

    .text h1 {
        width: 400px;
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
        margin-left: 8%;
        margin-top: 30%;
    }

    .text p {
        width: 300px;
        font-size: 1rem;
        margin-left: 18%;
        margin-top: 5%;
        font-weight: 600;
    }

    .text button {
        width: 237px;
        height: 62px;
        font-size: 1.1rem;
        margin: 0;
        margin-top: 10%;
        margin-left: 20%;
        box-shadow: none;
        box-shadow: 0 0 20px 5px;
    }

    .text button:hover {
        transform: none;
    }

}