.idiomas-section {
    width: 100vw;
    padding: 100px 0px;
    display: flex;
    justify-content: center;
}

.card-idiomas {
    width: 90vw;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0px;
    border-radius: 20px;
}

.carrossel-ativo {
    display: flex;
    gap: 60px;
}

.card {
    width: 300px;
    height: 500px;
    transition: 0.5s ease;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.seta-antes img {
    margin-right: 70px;
    transition: 0.5;
}

.seta-antes img:hover {
    transform: scale(1.1);
}

.seta-prox img {
    margin-left: 70px;
}

.seta-prox img:hover {
    transform: scale(1.1);
}

.carrossel {
    display: none;
    gap: 60px;
}

@media screen and (max-width: 500px) {

    .carrossel-ativo {
        display: block;
    }

    .card {
        width: 150px;
        height: 250px;
    }

}