.menu {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 35px;
}

.logo img {
    width: 140px;
    height: 90px;
}

.links {
    display: flex;
    gap: 30px;
}

.links a {
    text-decoration: none;
    color: #FF0000;
    font-weight: 400;
    font-size: 1.1rem;
    transition: 0.3s;
}

.links a:hover {
    transform: scale(1.2);
}

.links img {
    display: none;
}

.sidebar {
    display: none;
}

@media screen and (max-width: 500px) {

    .menu {
        padding: 0;
        padding: 5px 30px 5px 10px;
    }

    .logo img {
        width: 130px;
        height: 80px;
    }

    .links img {
        display: block;
        width: 40px;
        height: 40px;
    }

    .links a {
        display: none;
    }

    .sidebar {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 40px;
        width: 180px;
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        z-index: 999;
        padding: 45px 20px;
        background-color: #FF0000;
    }

    .sidebar a {
        color: #ffffff;
        text-decoration: none;
    }

    .sidebar img {
        width: 30px;
        height: 30px;
    }

}